@use 'variables' as *;

@mixin cross-browser-support-translate-x-set {
    transform:              $transform-x;
    -webkit-transform:      $transform-x;
    -moz-transform:         $transform-x;
    -ms-transform:          $transform-x;
    -o-transform:           $transform-x;
}

@mixin cross-browser-support-transition-set {
    transition:             $transition-05;
    -webkit-transition:     $transition-05;
    -moz-transition:        $transition-05;
    -o-transition:          $transition-05;
}