@import 'mixins',
        'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: $light-mode-background-color;
    @include cross-browser-support-transition-set;
    .container {
        border: $light-mode-border;
        color: $light-mode-font-color;
    }
}

body.dark-mode {
    background-color: $dark-mode-background-color;
    color: $dark-mode-font-color;
    @include cross-browser-support-transition-set;
    .container {
        border: $dark-mode-border;
        color: $dark-mode-font-color;
    }
}