@import 'variables';

@mixin cross-browser-support-transition-set {
    transition:             $transition-05;
    -webkit-transition:     $transition-05;
    -moz-transition:        $transition-05;
    -moz-transtion:         $transition-05;
    -o-transition:          $transition-05;
}