@media only screen and (max-width: 1270px) {
    .container {
        overflow-x: scroll;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 600px) {
    .left-col {
        position: fixed;
        left: 20px;
    }
    td {
        position: relative;
        left: 60px;
    }
}