/****** COLORS ******/

$light-mode-background-color: #f5f5f5;
$light-mode-font-color: #000000d0;
$light-mode-border: 2px solid #000000d0;

$dark-mode-background-color: #000000d0;
$dark-mode-font-color: #f5f5f5;
$dark-mode-border: 2px solid #f5f5f5;

/****** TRANSITIONS & ANIMATIONS ******/

$transition-05: all 0.5s ease-in;